# Logs
logs
*.log
npm-debug.log*
.code-review-graph/
.pytest_cache/
.claude/
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
graphify-out/
node_modules
dist
dist-ssr
*.local
docs/
tests/
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

 